:root {
  --primary-font: "Roboto", sans-serif;
  --blue: #2091f9;
  --gray: #374754;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1;
  overflow-x: hidden;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 1000px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url(../img/Bg-img.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  display: none;
}
