:root {
  --primary-font: "Roboto", sans-serif;
  --blue: #2091f9;
  --gray: #374754;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1;
  overflow-x: hidden;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  /* background: url(../img/Bg-img.png) no-repeat top / 100%; */
  /* height: 100vh; */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
section {
  display: none;
}
