* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.block-space {
  width: 100px;
  top: 0;
  height: 50px;
}
header {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  margin: 0;
}
header.transparent {
  background: none;
}
#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.nav-toggler {
  float: right;
  margin-top: 16px;
  height: 46px;
  width: 66px;
  background: none;
  cursor: pointer;
  border: none;
}
.nav-toggler:focus {
  outline: none;
  -webkit-box-shadow: 0 0 15px rgba(225, 225, 225, 0.5);
  box-shadow: 0 0 15px rgba(225, 225, 225, 0.5);
}
.nav-toggler span {
  height: 2px;
  width: 16px;
  background: #fff;
  display: block;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav-toggler.active span {
  background: transparent;
}
.nav-toggler span::before {
  content: " ";
  position: absolute;
  left: -8px;
  top: 0;
  width: 148%;
  height: 100%;
  background: #fff;
}
.nav-toggler.active span::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
}

.nav-toggler span::after {
  content: " ";
  position: absolute;
  left: 6px;
  top: 0;
  width: 62%;
  height: 100%;
  background: #fff;
}
.nav-toggler.active span::after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
}

.nav-toggler span::before {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}
.nav-toggler span::after {
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}
.navbar-mobile {
  height: 56px;
}
.nav-mobile {
  position: fixed;
  width: 40%;
  top: 0;
  left: -100%;
  bottom: 0;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-top: 60px;
  background: #252b42;
  z-index: 3;
  visibility: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.nav-mobile.open {
  visibility: visible;
  left: 0;
}
header.sticky {
  background: rgb(37 43 66 / 80%);
  position: fixed !important;
  top: 0px;
  -webkit-box-shadow: 0 4px 6px 0 rgb(10 10 10 / 5%);
  box-shadow: 0 4px 6px 0 rgb(10 10 10 / 5%);
  border: 0;
  z-index: 1;
}
#toTop {
  position: fixed;
  right: 20px;
  font-size: 40px;
  color: var(--blue);
  border: 1px solid #fff;
  border-radius: 50px;
  z-index: 2;
}
#toTop.hide {
  bottom: -40px;
}
#toTop.show {
  bottom: 20px;
}
.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 48px;
}
.header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  list-style: none;
}
.header-social a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}
.header-center {
  color: #fff;
  position: absolute;
  width: 90%;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-center h1 {
  font-size: 74px;
  font-weight: 700;
  line-height: 90px;
}
.header-center h1 span {
  display: block;
}
.header-center p {
  font-size: 28px;
  font-weight: 400;
  margin: 28px 0 90px;
  line-height: 40px;
}
.header-center p span {
  display: block;
}
.header-center button {
  display: inline-block;
  padding: 18px 72px;
  background: var(--blue);
  border: none;
  border-radius: 35px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.header-center button:hover {
  background: #808080;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.work {
  display: block;
  padding-top: 115px;
}
.block-box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.block-box h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #252b42;
  margin-bottom: 28px;
}
.block-box p {
  color: #374754;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.block-box p span {
  display: block;
}
.work-list {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-bottom: 130px;
}
.work-item {
  width: calc(33.33% - 170.67px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  line-height: 28px;
}
.work-item img {
  margin-bottom: 30px;
}
.work-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
/* .work-video {
  position: relative;
} */
.intro {
  padding-top: 150px;
  display: block;
}
.intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.intro-content h2 {
  font-size: 48px;
  color: #252b42;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 30px;
}
.intro-content p {
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  color: #374754;
  margin-bottom: 50px;
}
.intro-box span {
  display: block;
}
.intro-content button {
  padding: 16px 50px;
  border: none;
  background: var(--blue);
  border-radius: 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.intro-content button:hover {
  background: #808080;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.intro-image {
  width: 50%;
}

.email-marketing {
  display: block;
  padding-top: 150px;
}
.email-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 130px;
}
.mail-title {
  font-size: 20px;
  font-weight: 700;
  color: #252b42;
  line-height: 28px;
}
img.mail-img {
  display: block;
}
.mail-box h2 {
  font-size: 48px;
  font-weight: 400px;
  line-height: 55px;
  color: #252b42;
  margin-top: 18px;
  margin-bottom: 36px;
}
.mail-des {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 8px;
}
.mail-box p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #374754;
  margin-left: 8px;
}
.mail-subscribe {
  margin-top: 36px;
  margin-left: 8px;
}
.mail-subscribe input {
  padding: 18px 44px;
  border-radius: 39px;
  color: #18171d;
  background: #e8e8e8;
  border: none;
  font-size: 14px;
}
.mail-subscribe button {
  margin-left: 12px;
  padding: 14px 30px;
  background: #2091f9;
  border: none;
  border-radius: 35px;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}
.mail-subscribe button:hover {
  background: #808080;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.mail-img {
  width: 50%;
}
.partners {
  padding-top: 150px;
  display: block;
}
.partner-logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 90px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.google-logo-img {
  width: 90%;
  height: 44%;
  -o-object-fit: cover;
  object-fit: cover;
}
.amazon-logo-img {
  width: 170px;
  height: 74px;
  -o-object-fit: cover;
  object-fit: cover;
}
.dropbox-logo-img {
  width: 245px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-top: 10px;
}
.microsoft-logo-img {
  width: 200px;
  height: 64px;
  -o-object-fit: cover;
  object-fit: cover;
}
.uber-logo-img {
  width: 200px;
  height: 62px;
  -o-object-fit: cover;
  object-fit: cover;
}
.partner-box {
  width: 288px;
  height: 164px;
  border: 1px solid #d8d8d8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.partner-box h5 {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #374754;
}
.button-btn {
  padding-top: 80px;
  text-align: center;
}
.button-btn button {
  padding: 16px 50px;
  border: none;
  border-radius: 35px;
  color: #fff;
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.button-btn button:hover {
  background: #808080;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.testimonial {
  display: block;
  padding-top: 150px;
}
.testimonial-box {
  text-align: center;
}
.testimonial-box h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  color: #252b42;
  padding-bottom: 80px;
}
.testimonial-des {
  padding-top: 60px;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  color: #374754;
}
.testimonial-box p span {
  display: block;
}
.testimonial-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 60px;
}
.info-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  color: rgb(55, 71, 84);
  padding-left: 14px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
button.btn-more {
  margin-top: 80px;
  padding: 16px 60px;
  border: none;
  border-radius: 35px;
  color: #fff;
  background-color: var(--blue);
  font-size: 20px;
  font-weight: 700;
}
button.btn-more:hover {
  background: #808080;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.price-content {
  display: block;
  margin-top: 100px;
  padding-top: 110px;
  background: #252b42;
  padding-bottom: 190px;
}
.price-box {
  text-align: center;
  color: #fff;
}
h2.price-heading {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  padding-bottom: 26px;
}
p.price-description {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}
p.price-description span {
  display: block;
}
.price-menu {
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 680px;
}
.price-item {
  width: 335px;
  height: 600px;
  padding: 40px;
  border: none;
  background: #fff;
  color: #252b42;
  border-radius: 10px;
  margin-top: 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.price-item:hover {
  background: var(--blue);
  color: #fff;
  height: 680px;
  margin-top: 0px;
  padding-top: 80px;
}
.price-item:hover button {
  background: #fff;
  color: var(--blue);
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.price-item h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.price-item h3:nth-child(2) {
  padding-top: 20px;
}
.price-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.price-item p span {
  display: block;
}
.price {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
}
.price-number {
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
}
span.price-symbol {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.price-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-left: 10px;
}
.price-month {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}
p.price-title {
  padding-bottom: 20px;
  font-size: 15px;
}
button.btn-order {
  margin-top: 40px;
  padding: 14px 70px;
  border: none;
  border-radius: 35px;
  background: var(--blue);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.contact-us {
  display: block;
  padding-top: 150px;
}
.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 52px 50px;
  width: 40%;
  height: 670px;
  border: 1px solid #dddddd;
  border-radius: 20px;
}
.contact-right h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding-bottom: 45px;
}
.contact-input-name {
  padding: 19px 20px;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
  font-size: 15px;
  line-height: 16px;
}
.contact-input-email {
  padding: 19px 20px;
  border-radius: 39px;
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
  font-size: 15px;
  line-height: 16px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.contact-message {
  border: 1px solid #e8e8e8;
  background: #f5f5f5;
  font-size: 15px;
  line-height: 16px;
  padding-top: 24px;
  padding-left: 20px;
  margin-bottom: 45px;
  resize: none;
}
button.btn-send {
  width: 145px;
  height: 56px;
  border: none;
  border-radius: 35px;
  background: var(--blue);
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
button.btn-send:hover {
  background: #808080;
  cursor: pointer;
}
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  padding-top: 32px;
}
.contact-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-address span i {
  color: var(--blue);
  font-size: 30px;
}
p.contact-des {
  padding-top: 20px;
  font-size: 16px;
  text-align: center;
  line-height: 23px;
}
.contact-des span {
  display: block;
}
.contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.contact-phone span i {
  color: var(--blue);
  font-size: 30px;
}
.contact-phone p a {
  text-decoration: none;
  font-size: 16px;
}
.contact-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.contact-mail span i {
  color: var(--blue);
  font-size: 30px;
}
.contact-mail p a {
  text-decoration: none;
  font-size: 16px;
}
.contact-map {
  padding-top: 70px;
  text-align: center;
}
.map {
  pointer-events: none;
}
.contact-social {
  padding-top: 64px;
}
.contact-social span i {
  font-size: 30px;
  padding-right: 30px;
  color: var(--blue);
}
footer {
  margin-top: 100px;
  width: 100%;
  background: #252b42;
  padding: 150px 0 150px;
  position: relative;
}
footer .container .row .col h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  margin-bottom: 30px;
}
ul li {
  list-style: none;
  margin-bottom: 14px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
li.info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-top: 10px;
}
.info li span {
  list-style: none;
  color: #fff;
  font-size: 15px;
}
.info li p a {
  display: inline-block;
}
.info li span i {
  display: inline-block;
  width: 46px;
  height: 46px;
  font-size: 40px;
  color: #fff;
}
.content .info li span:nth-child(1) {
  font-size: 40px;
}
