* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 65px;
}
.menu {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 0 40px;
}
.header-social {
  display: flex;
  gap: 0 32px;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.header-social a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}
.header-center {
  color: #fff;
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header-center h1 {
  font-size: 74px;
  font-weight: 700;
  line-height: 90px;
}
.header-center h1 span {
  display: block;
}
.header-center p {
  font-size: 28px;
  font-weight: 400;
  margin: 28px 0 100px;
  line-height: 40px;
}
.header-center p span {
  display: block;
}
.header-center button {
  display: inline-block;
  padding: 18px 72px;
  background: var(--blue);
  border: none;
  border-radius: 35px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.header-center button:hover {
  background: #808080;
  transition: 0.4s;
}
.work {
  display: block;
  padding-top: 115px;
}
.block-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.block-box h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #252b42;
  margin-bottom: 28px;
}
.block-box p {
  color: #374754;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
}
.block-box p span {
  display: block;
}
.work-list {
  padding-top: 100px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 130px;
}
.work-item {
  width: calc(33.33% - 170.67px);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 28px;
}
.work-item img {
  margin-bottom: 30px;
}
.work-item h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.work-video {
  position: relative;
}
.video-img {
  width: 100%;
}
.play-btn {
  display: block;
  width: 160px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.intro {
  padding-top: 150px;
  display: block;
}
.intro-content {
  display: flex;
  align-items: center;
}
.intro-content h2 {
  font-size: 48px;
  color: #252b42;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 30px;
}
.intro-content p {
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  color: #374754;
  margin-bottom: 50px;
}
.intro-box span {
  display: block;
}
.intro-content button {
  padding: 16px 60px;
  border: none;
  background: var(--blue);
  border-radius: 35px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.intro-content button:hover {
  background: #808080;
  transition: 0.4s;
}
.intro-image {
  width: 50%;
}

.email-marketing {
  display: block;
  padding-top: 150px;
}
.email-content {
  display: flex;
  align-items: center;
  gap: 130px;
}
.mail-title {
  font-size: 20px;
  font-weight: 700;
  color: #252b42;
  line-height: 28px;
}
.mail-box h2 {
  font-size: 48px;
  font-weight: 400px;
  line-height: 55px;
  color: #252b42;
  margin-top: 18px;
  margin-bottom: 36px;
}
.mail-des {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-left: 8px;
}
.mail-box p {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #374754;
  margin-left: 8px;
}
.mail-subscribe {
  margin-top: 36px;
  margin-left: 8px;
}
.mail-subscribe input {
  padding: 18px 44px;
  border-radius: 39px;
  color: #18171d;
  background: #e8e8e8;
  border: none;
  font-size: 14px;
}
.mail-subscribe button {
  margin-left: 12px;
  padding: 14px 30px;
  background: #2091f9;
  border: none;
  border-radius: 35px;
  font-size: 20px;
  color: #ffffff;
}
.mail-subscribe button:hover {
  background: #808080;
  transition: 0.4s;
}
.partners {
  padding-top: 150px;
  display: block;
}
.partner-logo-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 90px;
  justify-content: center;
}
.google-logo-img {
  width: 90%;
  height: 44%;
  object-fit: cover;
}
.amazon-logo-img {
  width: 170px;
  height: 74px;
  object-fit: cover;
}
.dropbox-logo-img {
  width: 245px;
  height: 48px;
  object-fit: cover;
  margin-top: 10px;
}
.microsoft-logo-img {
  width: 240px;
  height: 64px;
  object-fit: cover;
}
.uber-logo-img {
  width: 200px;
  height: 62px;
  object-fit: cover;
}
.partner-box {
  /* display: flex; */
  width: 300px;
  height: 150px;
  border: 1px solid #d8d8d8;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.partner-box:first-child {
  /* display: flex; */
  /* width: 270px;
  height: 148px; */
  width: 274px;
  margin-left: 4px;
  height: 164px;
}
.partner-box:nth-child(2) {
  /* width: 300px;
  height: 144px; */
  width: 274px;
  height: 160px;
}
.partner-box:nth-child(3) {
  /* width: 340px;
  height: 150px; */
  width: 302px;
  height: 166px;
  border: 1px solid #d8d8d8;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.partner-box:nth-child(4) {
  /* width: 254px;
  height: 150px; */
  width: 220px;
  height: 166px;
  border: 1px solid #d8d8d8;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.partner-box:nth-child(5) {
  /* width: 340px;
  height: 150px; */
  width: 310px;
  height: 164px;
}
.partner-box:nth-child(6) {
  width: 274px;
  height: 164px;
}
.partner-box:nth-child(7) {
  width: 220px;
  height: 166px;
}
.partner-box:nth-child(8) {
  width: 274px;
  height: 160px;
}
.partner-box h5 {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #374754;
}
.btn {
  display: flex;
}

footer {
  width: 100%;
  background: #252b42;
  padding: 150px 0 150px;
}
footer .container .row .col h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #fff;
  margin-bottom: 30px;
}
ul li {
  list-style: none;
  margin-bottom: 20px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.info li {
  display: flex;
}
.info li span {
  list-style: none;
  color: #fff;
  font-size: 15px;
}
.info li p a {
  display: inline-block;
}
.info li span i {
  display: inline-block;
  width: 46px;
  height: 46px;
  font-size: 40px;
  color: #fff;
}
.content .info li span:nth-child(1) {
  font-size: 40px;
}
